Warm Up Exercises:
1. Sorting and Subsetting:

Complete all following Task:

• Dataset for the Task: "titanic.csv"

Following task is common for all the problem:
1. Load the provided dataset and import in pandas DataFrame.
2. Check info of the DataFrame and identify following:

Problem 1 - Sorting:
1. Create a DataFrame called fare that contains only the Fare column of the Titanic dataset. Print the
head of the result.
2. Create a DataFrame called class age that contains only the Pclass and Age columns of the Titanic
dataset, in that order. Print the head of the result.
3. Create a DataFrame called survived gender that contains the Survived and Sex columns of the
Titanic dataset, in that order.Print the head of the result.

In [59]:
import pandas as pd

In [60]:
import pandas as pd
titanic_data = pd.read_csv("/content/drive/MyDrive/5CS037 - Concepts and Technologies of AI/Workshop3/Titanic-Dataset.csv")
# print(titanic_data.info())
# print(titanic_data.head())

# Task 1:
# Create a DataFrame called fare that contains only the Fare column of the Titanic dataset.
# Print the head of the result.
fare = titanic_data[['Fare']]
print("Fare:")
print(fare.head())

# Task 2:
# Create a DataFrame called class age that contains only the Pclass
# and Age columns of the Titanic dataset, in that order. Print the head of the result.
class_age = titanic_data[['Pclass', 'Age']]
print("\nClass and Age:")
print(class_age.head())

# Task 3:
# Create a DataFrame called survived gender that contains the Survived and
# Sex columns of the Titanic dataset, in that order.Print the head of the result.
survived_gender = titanic_data[['Survived', 'Sex']]
print("\nSurvived and Gender:")
print(survived_gender.head())

Fare:
      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

Class and Age:
   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

Survived and Gender:
   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

Problem - 2 - Subsetting:

Complete all the following Task:

Subsetting Rows:

1. Filter the Titanic dataset for cases where the passenger’s fare is greater than 100, assigning it
to fare_gt_100.View the printed result.
2. Filter the Titanic dataset for cases where the passenger’s class (Pclass) is 1, assigning it to
first_class.View the printed result.
3. Filter the Titanic dataset for cases where the passenger’s age is less than 18 and the passenger
is female (Sex is "female"), assigning it to female_under_18. View the printed result.

Subsetting Rows by Categorical variables:
1. Filter the Titanic dataset for passengers whose Embarked port is either "C" (Cherbourg) or "S"
(Southampton), assigning the result to embarked_c_or_s. View the printed result.
2. Filter the Titanic dataset for passengers whose Pclass is in the list [1, 2] (indicating first
or second class), assigning the result to first_second_class.View the printed result.

In [61]:
# Subsetting Rows

# Task 1:
# Filter the Titanic dataset for cases where the passenger’s fare is greater than 100,
# assigning it to fare_gt_100.View the printed result.
fare_gt_100 = titanic_data[titanic_data['Fare'] > 100][['Name','PassengerId','Fare']]
print("Cases where fare is greater than 100:")
print(fare_gt_100.head())

# Task 2:
# Filter the Titanic dataset for cases where the passenger’s class (Pclass) is 1, assigning it to
# first_class.View the printed result.
first_class = titanic_data[titanic_data['Pclass'] == 1][['Name','PassengerId','Pclass']]
print("\nFirst class passengers:")
print(first_class.head())

# Task 3:
# Filter the Titanic dataset for cases where the passenger’s age is less than 18 and the passenger
# is female (Sex is "female"), assigning it to female_under_18. View the printed result.
female_under_18 = titanic_data[(titanic_data['Age'] < 18) & (titanic_data['Sex'] == 'female')][['Name','PassengerId','Age','Sex']]
print("\nFemale passengers under 18:")
print(female_under_18.head())

# Subsetting Rows by Categorical Variables

# Task 1:
# Filter the Titanic dataset for passengers whose Embarked port is either "C" (Cherbourg) or "S" (Southampton),
# assigning the result to embarked_c_or_s. View the printed result.
embarked_c_or_s = titanic_data[titanic_data['Embarked'].isin(['C', 'S'])][['Name','PassengerId','Embarked']]
print("\nPassengers embarked in 'C' (Cherbourg) or 'S' (Southampton):")
print(embarked_c_or_s.head())

# Task 2:
# Filter the Titanic dataset for passengers whose Pclass is in the list [1, 2]
# (indicating first or second class), assigning the result to first_second_class.View the printed result.
first_second_class = titanic_data[titanic_data['Pclass'].isin([1, 2])][['Name','PassengerId','Pclass']]
print("\nPassengers in first or second class:")
print(first_second_class.head())

Cases where fare is greater than 100:
                                               Name  PassengerId      Fare
27                   Fortune, Mr. Charles Alexander           28  263.0000
31   Spencer, Mrs. William Augustus (Marie Eugenie)           32  146.5208
88                       Fortune, Miss. Mabel Helen           89  263.0000
118                        Baxter, Mr. Quigg Edmond          119  247.5208
195                            Lurette, Miss. Elise          196  146.5208

First class passengers:
                                                 Name  PassengerId  Pclass
1   Cumings, Mrs. John Bradley (Florence Briggs Th...            2       1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)            4       1
6                             McCarthy, Mr. Timothy J            7       1
11                           Bonnell, Miss. Elizabeth           12       1
23                       Sloper, Mr. William Thompson           24       1

Female passengers under 18:
                                    Name  PassengerId   Age     Sex
9    Nasser, Mrs. Nicholas (Adele Achem)           10  14.0  female
10       Sandstrom, Miss. Marguerite Rut           11   4.0  female
14  Vestrom, Miss. Hulda Amanda Adolfina           15  14.0  female
22           McGowan, Miss. Anna "Annie"           23  15.0  female
24         Palsson, Miss. Torborg Danira           25   8.0  female

Passengers embarked in 'C' (Cherbourg) or 'S' (Southampton):
                                                Name  PassengerId Embarked
0                            Braund, Mr. Owen Harris            1        S
1  Cumings, Mrs. John Bradley (Florence Briggs Th...            2        C
2                             Heikkinen, Miss. Laina            3        S
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)            4        S
4                           Allen, Mr. William Henry            5        S

Passengers in first or second class:
                                                 Name  PassengerId  Pclass
1   Cumings, Mrs. John Bradley (Florence Briggs Th...            2       1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)            4       1
6                             McCarthy, Mr. Timothy J            7       1
9                 Nasser, Mrs. Nicholas (Adele Achem)           10       2
11                           Bonnell, Miss. Elizabeth           12       1

Exploratory Data Analysis Practice Exercise - 1.

Warning: Handle missing values in the Age column by filling them with the median age of

the dataset before performing the division.


Answer the following questions from Dataset:

Which passenger had the highest fare paid relative to their age?

To answer the question perform following operations:
1. Add a column to the Titanic dataset, fare_per_year, containing the fare divided by the age of
the passenger(i.e., Fare/Age).
2. Subset rows where fare_per_year is higher than 5, assigning this to high _fare_age.
3. Sort high_fare_age by descending fare_per_year, assigning this to high_fare_ age_srt.
4. Select only the Name and fare_per_year columns of high_fare_age_srt and save the result as result.
5. Look at the result.

In [62]:
titanic_data['Age'] = titanic_data['Age'].fillna(titanic_data['Age'].median())

# Task 1:
# Add a column to the Titanic dataset, fare_per_year,
# containing the fare divided by the age of the passenger(i.e., Fare/Age).
titanic_data['fare_per_year'] = titanic_data['Fare'] / titanic_data['Age']

# Task 2:
# Subset rows where fare_per_year is higher than 5, assigning this to high _fare_age.
high_fare_age = titanic_data[titanic_data['fare_per_year'] > 5]

# Task 3:
# Sort high_fare_age by descending fare_per_year, assigning this to high_fare_ age_srt.
high_fare_age_srt = high_fare_age.sort_values(by='fare_per_year', ascending=False)

# Task 4:
# Select only the Name and fare_per_year columns of high_fare_age_srt and save the result as result.
result = high_fare_age_srt[['Name', 'fare_per_year']]

# Task 5:
# Look at the result.
print(result)

                                               Name  fare_per_year
305                  Allison, Master. Hudson Trevor     164.728261
297                    Allison, Miss. Helen Loraine      75.775000
386                 Goodwin, Master. Sidney Leonard      46.900000
164                    Panula, Master. Eino Viljami      39.687500
183                       Becker, Master. Richard F      39.000000
..                                              ...            ...
348          Coutts, Master. William Loch "William"       5.300000
31   Spencer, Mrs. William Augustus (Marie Eugenie)       5.232886
205                      Strom, Miss. Telma Matilda       5.231250
813              Andersson, Miss. Ebba Iris Alfrida       5.212500
480                  Goodwin, Master. Harold Victor       5.211111

[71 rows x 2 columns]

Which adult male passenger (age ≥ 18 and Sex is ’male’) paid the highest fare relative to their
class?

To answer the question perform following operations:

1. Add a column to the Titanic dataset, fare_per_class, containing the fare divided by the passenger
class i.e. Fare / Pclass.
2. Subset rows where the passenger is male (Sex is ”male”) and an adult (Age is greater than or equal
to 18), assigning this to adult_males.
3. Sort adult_males by descending fare_per_class, assigning this to adult_males_srt.
4. Select only the Name, Age, and fare_per_class columns of adult_males_sr and save the result
as result.
5. Look at the result.

In [63]:

# Task 1:
# Add a column to the Titanic dataset, fare_per_class,
# containing the fare divided by the passenger class i.e. Fare / Pclass.
titanic_data['fare_per_class'] = titanic_data['Fare'] / titanic_data['Pclass']

# Task 2:
# Subset rows where the passenger is male (Sex is ”male”) and an adult
# (Age is greater than or equal to 18), assigning this to adult_males.
adult_males = titanic_data[(titanic_data['Sex'] == 'male') & (titanic_data['Age'] >= 18)]

# Task 3:
# Sort adult_males by descending fare_per_class, assigning this to adult_males_srt.
adult_males_srt = adult_males.sort_values(by='fare_per_class', ascending=False)

# Task 4:
# Select only the Name, Age, and fare_per_class columns of adult_males_sr and save the result as result.
result = adult_males_srt[['Name', 'Age', 'fare_per_class']]

# Task 5:
# Look at the result.
print(result.head())

                                   Name   Age  fare_per_class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
438                   Fortune, Mr. Mark  64.0        263.0000
27       Fortune, Mr. Charles Alexander  19.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208

Exploratory Data Analysis with Group-by Method Practice Exercise:

Based on the dataset Answer the following question:

What percent of the total fare revenue came from each passenger class?

To answer the question perform following operation:

1. Calculate the total Fare paid across all passengers in the Titanic dataset.
2. Subset for passengers in first class (Pclass is 1) and calculate their total fare.
3. Do the same for second class (Pclass is 2) and third class (Pclass is 3).
4. Combine the fare totals from first, second, and third classes into a list.
5. Divide the totals for each class by the overall total fare to get the proportion of fare revenue by class.

In [64]:
# Task 1:
# Calculate the total Fare paid across all passengers in the Titanic dataset.
total_fare = titanic_data['Fare'].sum()

# Task 2:
# Subset for passengers in first class (Pclass is 1) and calculate their total fare.
fare_first_class = titanic_data.loc[titanic_data['Pclass'] == 1, 'Fare'].sum()

#Task 3:
# Do the same for second class (Pclass is 2) and third class (Pclass is 3).
fare_second_class = titanic_data.loc[titanic_data['Pclass'] == 2, 'Fare'].sum()
fare_third_class = titanic_data.loc[titanic_data['Pclass'] == 3, 'Fare'].sum()

# Task 4:
# Combine the fare totals from first, second, and third classes into a list.
fare_totals_by_class = [fare_first_class, fare_second_class, fare_third_class]

# Task 5:
proportion_by_class = [fare / total_fare * 100 for fare in fare_totals_by_class]

print("Total Fare Revenue: {:.2f}".format(total_fare))
print("Total Fare by Class:")
print("  First Class: {:.2f}".format(fare_first_class))
print("  Second Class: {:.2f}".format(fare_second_class))
print("  Third Class: {:.2f}".format(fare_third_class))
print("Percentage of Total Fare Revenue by Class:")
print("  First Class: {:.2f}%".format(proportion_by_class[0]))
print("  Second Class: {:.2f}%".format(proportion_by_class[1]))
print("  Third Class: {:.2f}%".format(proportion_by_class[2]))

Total Fare Revenue: 28693.95
Total Fare by Class:
  First Class: 18177.41
  Second Class: 3801.84
  Third Class: 6714.70
Percentage of Total Fare Revenue by Class:
  First Class: 63.35%
  Second Class: 13.25%
  Third Class: 23.40%

Based on the dataset Answer the following question:

What percent of the total number of passengers on the Titanic belonged to each age group
(e.g., child, adult, senior)?

To answer the question perform following operation:

1. Create a new column, age group, that categorizes passengers into "child" (age < 18), "adult" (age
18{64), and "senior" (age 65 and above).
2. Calculate the total number of passengers on the Titanic.
3. Count the number of passengers in each age group.
4. Divide the count of each age group by the total number of passengers to get the proportion of passengers
in each age group.
5. Display the proportion as a percentage.

In [65]:
# Task 1:
# Create a new column, age group, that categorizes passengers into
# "child" (age < 18), "adult" (age 18{64), and "senior" (age 65 and above).
def categorize_age(age):
    if age < 18:
        return 'child'
    elif age < 65:
        return 'adult'
    else:
        return 'senior'

titanic_data['Age'] = titanic_data['Age'].fillna(titanic_data['Age'].median())
titanic_data['age_group'] = titanic_data['Age'].apply(categorize_age)

# Task 2:
# Calculate the total number of passengers on the Titanic.
total_passengers = len(titanic_data)

# Task 2:
# Count the number of passengers in each age group.
passenger_counts = titanic_data['age_group'].value_counts()

# Task 3:
# Divide the count of each age group by the total number of passengers
# to get the proportion of passengers in each age group.
passenger_proportions = (passenger_counts / total_passengers) * 100

# Task 4:
# Display the proportion as a percentage.
for i, j in passenger_proportions.items():
    print(f"{i.capitalize()}: {j:.2f}% of total passengers")

Adult: 86.08% of total passengers
Child: 12.68% of total passengers
Senior: 1.23% of total passengers